<div class="container">
  <h2>Hola mocha chocolata, welcome to Ben's Twitter Fetcher!</h2></ br>
  </ br>
  <p>User: @benedict_thy</p>
  <form method=post action="/post" id="tweet">
    <p>Characters left: <a id="charleft">140</a></p>
    <textarea maxlength=140 id="tweetbox" name="tweetbox"></textarea></ br>
    <input type=submit value=Submit>
  </form>
  <div id="loading_div">
    <a>Posting your tweet...</a>
    <img src=images/ajax-loader.gif />
  </div>
  <div>
  </br>
  <div>
    <a href="/oauth/request_token">Sign in</a>
  </div>
</div>


<script>
  $(document).ready(function() {

    $("#tweetbox").keyup(function() {
      $("#charleft").text(140 - this.value.length);
    });

    $("#tweet").submit(function(e) {
      e.preventDefault();
      $("#tweetbox").prop('disabled', true);
      $("input[type=submit]").prop('disabled', true);
      $("#loading_div").css("display","block");

    $.ajax({
      type: "POST",
      url: "/post",
      data: { tweetbox: $("#tweetbox").val() }
    })
      .done(function( msg ) {
        $("body").html(msg);
      });

    });
  });
</script>